

<div
  class="
    d-flex
    flex-column flex-column-fluid
    bgi-position-y-bottom
    position-x-center
    bgi-no-repeat bgi-size-contain bgi-attachment-fixed">

    <div class="login-area">
      <div class="hero-wrapper login-wrapper">
        <div class="banner-img">
          <img src="assets/images/backgroundbg.png">
        </div>
       
        <app-menu-top></app-menu-top>
  <!--begin::Content-->
  <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
    <!-- <a routerLink="/" class="mb-12"
      ><img alt="Logo" src="./assets/media/logos/logo-1.svg" class="h-45px"
    /></a> -->
<div class="welcome-block">
  <div class="clearfix"></div>
  <h1 class="text-center mt-5 pt-3 mb-2">Welcome!
  </h1>
  <p class="text-center mb-2">
      Use these awesome forms to login or create new<br> account in your project for free.
  </p>
</div>
    <!--begin::Content body-->
    <div class="w-lg-500px bg-white rounded shadow-sm p-10 p-lg-15 mx-auto login-block">
      <router-outlet></router-outlet>
    </div>
    <!--end::Content body-->
  </div>
  <!--end::Content-->
</div>
 </div>

</div>
<div class="clearfix"></div>
<!-- begin::Footer -->
<div class="footer-all">
  <div class="container">
    <div class="d-flex flex-center flex-column-auto p-10">
      <div class="footer-link-area">
      <div class="d-flex align-items-center fs-6">
        <div class="col-md-7 text-start">
          <p class="p-copy">22022 © THOR-AIR REPORT. Created by Design</p>
        </div>
       <div class="col-md-5 text-end">
        <a class="text-muted text-hover-primary px-2 cursor-pointer">Creative Tim</a
          ><a class="text-muted text-hover-primary px-2 cursor-pointer">Simmmple</a
          ><a class="text-muted text-hover-primary px-2 cursor-pointer"
            >Blog</a
          >
          <a class="text-muted text-hover-primary px-2 cursor-pointer"
            >License</a
          >
       </div>
      </div>
    </div>
    </div>
  </div>
</div>


<!-- end::Footer -->