<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
    <div class="card card-top">
      <div class="card-header flx-ins flot-block-left">
        <h6 class="card-title sub-title-block mb-1">Built by developers</h6>
<div class="clearfix"></div>

        <h2 class="sub-title-b mb-2">Purity UI Dashboard</h2>
        <p>From colors, cards, typography to complex elements,
you will find the full documentation.</p>
<button class="btn btn-body">Read more</button>
      </div>
      <div class="card-body flot-block-right">
      
       <img src="../../../../../../../assets/images/logob.png">
      </div>
    </div>
  </div>


  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
    <div class="card overflow-hidden card-top">
  <div class="block-right-dashboard">
    
  <div class="content-inner">
      <h3>Work with the Rockets</h3>
  <p>
      Wealth creation is an evolutionarily recent positive-sum game.
It is all about who take the opportunity first.
  </p>
   <button class="btn btn-body">Read more</button>
  </div>
  </div>
  </div>
</div>
</div>