.dashboard-block {
    box-shadow: 0 3px 20px #d5d2d2;
    width: 100%;
    background: #fff;
    padding: 7px;
    border: solid 1px #fcfbfc;
    border-radius: 6px;
}

.height-chart{
    min-height: 537px;
}