:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}
.submit-form-btn {
  background: linear-gradient(90deg, #4628ba 32%, #0871ff 100%);
}
