<app-menu-top></app-menu-top>
  
  <!-- start hero -->
  <div class="hero-wrapper">
    <div class="shape-bottom-center" style="background-image: url(assets/images/shape.png);"></div>
  <section class="hero-two-1 position-relative wrapper-landing overflow-hidden align-items-center" id="home">
    <div class="container">
      <div class="row align-items-center justify-content-center top-he">
        <div class="col-xl-5 col-lg-4">
          <div>
            <h1 class="text-white display-5 fw-medium">
              <label class="label-join mb-4 fs-18">Join Us</label>
              <br />
              <span class="fw-light">Show water damage</span><br />
              restoration </h1>
            <p class="align-middle fw-normal text-white fs-17 my-4"> We are always fully focused on helping <br>
              your child and you </p>
            <div class="row">
              <div class="col-12">
                <button class="btn btn-primary mt-4" type="submit">Register Now <span class="fs-22 ms-1 lh-1 align-middle icon">⇾</span></button>
                <button class="btn border mt-4 ms-2 text-white" type="submit">Learn More <span class="fs-22 ms-1 lh-1 align-middle icon">⇾</span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 offset-xl-1 col-lg-8"> <img class="img-fluid herro-img" src="assets/images/hero-two-1-img.png" alt="" /> </div>
      </div>
    </div>
    <!-- end container --> 
  </section>
  </div>
  
  <!-- brand-logo -->
  <section class="brand-section wrapper-landing py-5">
    <div class="container my-5">
      <div class="row">
        <div class="col-md-2 col-sm-6 my-5"> <img class="img-fluid mx-auto brand-logo d-block" src="assets/images/brand-logo-1.png" alt="" /> </div>
        <div class="col-md-2 col-sm-6 my-5"> <img class="img-fluid mx-auto brand-logo d-block" src="assets/images/brand-logo-2.png" alt="" /> </div>
        <div class="col-md-2 col-sm-6 my-5"> <img class="img-fluid mx-auto brand-logo d-block" src="assets/images/brand-logo-3.png" alt="" /> </div>
        <div class="col-md-2 col-sm-6 my-5"> <img class="img-fluid mx-auto brand-logo d-block" src="assets/images/brand-logo-4.png" alt="" /> </div>
        <div class="col-md-2 col-sm-6 my-5"> <img class="img-fluid mx-auto brand-logo d-block" src="assets/images/brand-logo-5.png" alt="" /> </div>
        <div class="col-md-2 col-sm-6 my-5"> <img class="img-fluid mx-auto brand-logo d-block" src="assets/images/brand-logo-6.png" alt="" /> </div>
      </div>
      <!-- end row --> 
    </div>
    <!-- end-container --> 
  </section>
  <!-- end brand logo --> 
  
  <!-- our features -->
  <section class="section bg-green wrapper-landing bg-light mt-all" id="feature">
    <div class="fixed-shape"> <img src="assets/images/38.png" alt="Shape"> </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-6">
          <div class="feature-two-content">
            <h1 class="text-white border-padd font-title-all">Don't just dry it, justify</h1>
            <p class="text-muted my-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, 
              pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. 
              Donec scelerisque sollicitudin enim eu venenatis. </p>
            <a href="#" class="btn btn-primary my-2">Learn more <span class="fs-22 ms-1 lh-1 align-middle icon">⇾</span></a> </div>
        </div>
        <div class="col-lg-2 mt-lg-0 mt-4 offset-lg-1"> <img class="img-fluid rounded mb-4 border-img" src="assets/images/feature-1.jpg" alt="" /> <img class="img-fluid rounded border-img" src="assets/images/feature-2.jpg" alt="" /> </div>
        <div class="col-lg-3 mt-lg-0 mt-4"> <img class="img-fluid rounded border-img" src="assets/images/featur-3.jpg" alt="" /> </div>
        <!--  <div class="col-lg-2 mt-lg-0 mt-4">
                          <img class="img-fluid rounded" src="images/feature-two-4.jpg" alt="" />
                      </div> --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end features --> 
  
  <!-- start paperwork -->
  <section class="section wrapper-landing">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 mt-4 pt-2">
          <div class="faq-img position-relative"> <img class="img-fluid rounded" src="assets/images/mid.svg" alt="" /> </div>
        </div>
        <!-- end col -->
        
        <div class="col-lg-6 offset-lg-1 mt-4 pt-2">
          <div class="mb-4 pb-2">
            <h2 class="fw-medium lh-1 makes-title text-dark mb-3">Makes paperwork</h2>
            <p class="text-muted my-4"> Problems trying to resolve the conflict between 
              the two major realms of Classical physics: 
              Newtonian mechanics </p>
          </div>
          <a href="#" class="btn btn-primary">Learn more <span class="fs-22 ms-1 lh-1 align-middle icon">⇾</span></a> </div>
        <!-- end col --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end paperwork --> 
  
  <!-- our features -->
  <section class="section bg-green wrapper-landing bg-light" id="feature">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-6">
          <div class="feature-two-content">
            <h1 class="text-white border-padd font-title-all">Proof gets you paid</h1>
            <p class="text-muted my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, 
              pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. 
              Donec scelerisque sollicitudin enim eu venenatis. </p>
            <a href="#" class="btn btn-primary my-2">Learn more <span class="fs-22 ms-1 lh-1 align-middle icon">⇾</span></a> </div>
        </div>
        <div class="col-lg-5 mt-lg-0 mt-4 offset-lg-1 pe-0"> <img class="img-fluid rounded mb-4" src="assets/images/vd.jpg" alt="" /> </div>
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end features -->
  
  <div class="feature-area default-padding-bottom bottom-less mt-260"> 
    <!-- Shape -->
    <div class="fixed-bottom-shape" style="background-image: url(assets/images/19.png);"></div>
    <!-- Shape -->
    <div class="container">
      <div class="feature-items text-center">
        <div class="row"> 
          <!-- Single Item -->
          <div class="single-item col-lg-4 col-md-6 wow fadeInUp">
            <div class="item">
              <div class="icon"> <img src="assets/images/i1.png" alt="Icon"> </div>
              <div class="info mb-5">
                <h4 class="h4-feature">Estimate or invoice? Top restorers use video to bridge the gap</h4>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. Donec scelerisque sollicitudin enim eu venenatis. </p>
              </div>
              <div class="clearfix"></div>
              <a href="#" class="btn btn-primary my-5">Learn more <span class="fs-22 ms-1 lh-1 align-middle icon">⇾</span></a> </div>
          </div>
          <!-- End Single Item --> 
          <!-- Single Item -->
          <div class="single-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="500ms" style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">
            <div class="item">
              <div class="icon"> <img src="assets/images/i2.png" alt="Icon"> </div>
              <div class="info mb-5">
                <h4  class="h4-feature">3 mitigation reports restoration contractors need to get paid</h4>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. Donec scelerisque sollicitudin enim eu venenatis. </p>
              </div>
              <div class="clearfix"></div>
              <a href="#" class="btn btn-primary my-5">Learn more <span class="fs-22 ms-1 lh-1 align-middle icon">⇾</span></a> </div>
          </div>
          <!-- End Single Item --> 
          <!-- Single Item -->
          <div class="single-item col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="700ms" style="visibility: visible; animation-delay: 700ms; animation-name: fadeInUp;">
            <div class="item">
              <div class="icon"> <img src="assets/images/13.png" alt="Icon"> </div>
              <div class="info mb-5">
                <h4  class="h4-feature">Encircle Product Update - New Camera!</h4>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. Donec scelerisque sollicitudin enim eu venenatis. </p>
              </div>
              <div class="clearfix"></div>
              <a href="#" class="btn btn-primary my-5">Learn more <span class="fs-22 ms-1 lh-1 align-middle icon">⇾</span></a> </div>
          </div>
          <!-- End Single Item --> 
        </div>
      </div>
    </div>
  </div>
  
  <!--what client says -->
  <section class="section wrapper-landing">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-4">
        <div class="col-lg-10 text-center">
          <label class="mb-2 fs-18">Practice Advice</label>
          <h2 class="fs-3 fw-medium lh-1 text-dark mb-3 see-h2">See Our Impressions</h2>
          <p class="text-muted"> Problems trying to resolve the conflict between 
            the two major realms of Classical physics: Newtonian mechanics </p>
        </div>
      </div>
      <!-- end row -->
      
      <div class="client-slider-two mt-4">
        <div class="row">
          <div class="col-md-4">
            <div class="text-center"> <img class="img-fluid img-thumbnail rounded-circle d-block user-img mx-auto mb-4" src="assets/images/user-1.png" alt="" /> 
                <span>
                     <i class="text-warning fa-regular fa-star" data-feather="star"></i>
                      <i class="text-warning fa-regular fa-star" data-feather="star"></i>
                       <i class="text-warning fa-regular fa-star" data-feather="star"></i>
                        <i class="text-warning fa-regular fa-star" data-feather="star"></i> 
                        <i class="text-muted fa-regular fa-star" data-feather="star"></i> 
                </span>
              <p class="text-muted mt-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. Donec scelerisque sollicitudin enim eu venenatis. </p>
              <h5 class="text-dark fs-18 text-truncate mt-3">Riska</h5>
              <p class="text-muted">Chairman</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center"> <img class="img-fluid img-thumbnail rounded-circle d-block user-img mx-auto mb-4" src="assets/images/user-2.png" alt="" /> 
                <span>
                    <i class="text-warning fa-regular fa-star" data-feather="star"></i>
                     <i class="text-warning fa-regular fa-star" data-feather="star"></i>
                      <i class="text-warning fa-regular fa-star" data-feather="star"></i>
                       <i class="text-warning fa-regular fa-star" data-feather="star"></i> 
                       <i class="text-warning fa-regular fa-star" data-feather="star"></i> 
               </span>
              <p class="text-muted mt-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. Donec scelerisque sollicitudin enim eu venenatis. </p>
              <h5 class="text-dark fs-18 text-truncate mt-3">Sonia</h5>
              <p class="text-muted">Managing Director</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center"> <img class="img-fluid img-thumbnail rounded-circle d-block user-img mx-auto mb-4" src="assets/images/user-3.png" alt="" />
                <span>
                    <i class="text-warning fa-regular fa-star" data-feather="star"></i>
                     <i class="text-warning fa-regular fa-star" data-feather="star"></i>
                      <i class="text-warning fa-regular fa-star" data-feather="star"></i>
                       <i class="text-muted fa-regular fa-star" data-feather="star"></i> 
                       <i class="text-muted fa-regular fa-star" data-feather="star"></i> 
               </span>
              <p class="text-muted mt-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. Donec scelerisque sollicitudin enim eu venenatis. </p>
              <h5 class="text-dark fs-18 text-truncate mt-3">Tamim Khan</h5>
              <p class="text-muted">CEO</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container --> 
  </section>
  <!-- end what client says --> 
  
  <!-- start cta -->
  <section class="section wrapper-landing bg-light" style="background: url(assets/images/contact-bg.png); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <label class="mb-2 fs-18">Newsletter</label>
        <h2 class="text-dark see-h2">JOIN US</h2>
        <p class="text-muted">Problems trying to resolve the conflict between <br>
          the two major realms of Classical physics: Newtonian mechanics </p>
        <div class="mt-4"> </div>
        <div class="col-md-12 text-center"> <a href=""><img class="icon-app" src="assets/images/goi.png" alt="icon-goole"></a> <a href=""><img class="icon-app" src="assets/images/gpi.png" alt="icon-goole"></a> </div>
      </div>
      <!-- end row --> 
    </div>
   </div>
    <!-- end container -->  
  </section>
  <!-- end cta --> 
  
  <!-- start footer -->
  <footer class="footer wrapper-landing">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mt-footer"> <a> <img src="assets/images/logo-light.png" alt="" height="22" /> </a>
          <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. Donec scelerisque sollicitudin enim eu venenatis.</p>
        </div>
        <div class="col-lg-2 offset-lg-2 col-sm-6 mt-footer">
          <h6 class="text-white mb-4 mt-sm-0 mt-5">Company</h6>
          <ul class="list-unstyled footer-list">
            <li><a href="#">About us</a></li>
            <li><a href="#">Media press</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-6 mt-footer">
          <h6 class="text-white mb-4 mt-sm-0 mt-4">Information</h6>
          <ul class="list-unstyled footer-list">
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Agencies</a></li>
            <li><a href="#">Our Apps</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-6 mt-footer">
          <h6 class="text-white mb-4 mt-sm-0 mt-4">More info</h6>
          <ul class="list-unstyled footer-list">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Discussion</a></li>
            <li><a href="#">Terms & condition</a></li>
          </ul>
        </div>
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </footer>
  <!-- end footer --> 
  
  <!-- start footer alter -->
  <div class="footer-alt bg-dark wrapper-landing">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>2022 © THOR-AIR REPORT. Created by Design</p>
        </div>
        <div class="col-sm-6 text-sm-end">
          <ul class="list-unstyled footer-alt-list mb-0 mt-sm-0 mt-3">
            <li class="list-inline-item"> <a href="#"> <i class="icon-xs" data-feather="facebook"></i> </a> </li>
            <li class="list-inline-item"> <a href="#"> <i class="icon-xs" data-feather="twitter"></i> </a> </li>
            <li class="list-inline-item"> <a href="#"> <i class="icon-xs" data-feather="github"></i> </a> </li>
            <li class="list-inline-item"> <a href="#"> <i class="icon-xs" data-feather="instagram"></i> </a> </li>
          </ul>
        </div>
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </div>
  <!-- end footer alter --> 